<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{item.ItemAttributes[0].Brand[0]}}">
  <ion-content class="padding stable-bg">
    <h3>{{item.ItemAttributes[0].Title[0]}}</h3>
    <img class="full-image padding" ng-src="{{getPic(item)}}">
    <h4 class="padding" style="text-align: center">{{item.OfferSummary[0].LowestNewPrice[0].FormattedPrice[0]}}</h4>
    <!-- <p ng-repeat="line in item.ItemAttributes[0].Feature">{{line}}</p> -->
    <button class="padding button button-block icon-left ion-pinpoint button-balanced" ng-click="addToList(item)" ng-show="trackButton">Track!
    </button>
    <button class="padding button button-block icon-left ion-trash button-assertive" ng-click="remove(item)" ng-hide="trackButton">
      Delete
    </button>

    <a class="item" href="#" ng-click="buyButton(item)">
      View on Amazon
    </a>
  </ion-content>
</ion-view>
