<ion-view view-title="Tracklist">
  <ion-content class="bggray-bg">
    <ion-list>
      <ion-item dclass="item-remove-animate item-text-wrap padding secondary-bg" ng-repeat="item in items track by item.ASIN[0]" href="#/tab/tracklist/{{item.ASIN[0]}}" class="item-thumbnail-left card">
        
        <img ng-src="{{item.SmallImage[0].URL[0]}}" style="width: 100%;height: inherit;">
    
        <h3>{{item.ItemAttributes[0].Brand[0]}}</h3>
        <p>{{item.ItemAttributes[0].Title[0]}}</p>
        <h4>Price: {{item.ItemAttributes[0].ListPrice[0].FormattedPrice[0]}}</h3>
        <ion-option-button class="button-assertive" ng-click="remove(item)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
