<ion-view view-title="">
  <ion-content style="background-image: url('/img/industry-rails-train-path.jpg');background-repeat:no-repeat;background-position:center center;background-size:cover;">
    <div class="list">
      <div class="padding" style="position: relative;margin-top: 115px;">
        <h1 style="text-align: center" class="stable">SalesHunt <i class="ion-pinpoint stable"></i></h1>
      </div>
      <div class="list list-inset" >
        <form class="item item-input" ng-submit="submit()">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="search.term">
        </form>
      </div> 
      <div>
        <h3 style="text-align: center" class="stable">Search it. Track it. Cop it.</h3>
      </div>
    </div>
  </ion-content>
</ion-view>
