<ion-view view-title="Search">
  <ion-content class="bggray-bg home">
    <div class="list">
      <div class="padding" style="position: relative;margin-top: 70px;">
        <h1 style="text-align: center" class="shgreen">SalesHunt <i class="ion-pinpoint shgreen"></i></h1>
      </div>
      <div class="list list-inset" >
        <form class="item item-input" ng-submit="submit()">
          <i class="icon ion-search placeholder-iconf"></i>
          <input type="search" placeholder="Search" ng-model="search.term">
        </form>
      </div> 
      <div>
        <h3 style="text-align: center" class="shgreen">Search it. Track it. Cop it.</h3>
      </div>
    </div>
  </ion-content>
</ion-view>
